body{
    background-color: #000000;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(114, 104, 104);
}

nav a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
    text-transform: uppercase;
}

.button-nav{
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: blueviolet;
    padding: 5px;
    border-radius: 40px;
}

h1{
    font-size: 80px;
    color: white;
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.artticle {
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.information-left{
    background-color: #8f19e9ff;
    padding: 10px 20px;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-left: 20px;
    border-radius: 60px;
}

.text-description-left{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 20px;
}

.information-right{
    background-color: #8f19e9ff;
    padding: 10px 20px;
    display: flex;
    justify-content: right;
    align-items: right;
    text-align: right;
    margin-right: 20px;
    border-radius: 60px;
}
.text-description-right{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 20px;
   text-align: left;
}

.artticle2{
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin: 50px;
}

.information-center{
    background-color: #8f19e9ff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    border-radius: 60px;
}

h2{
    font-size: 30px;
    color: white;
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-description-center{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: left;
}

.image-description-final{
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin: 50px;
}

.image-none{
    background-color: rgb(88, 86, 86);
    border-radius: 80px;
}
 
.image-description-none{
    text-align: center;
}

footer{
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #000000;
    color: white;
    border-top: 1px solid #ccc;
}