body{
    background-color: #000000;
    background: url(Photo/eye.png);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(114, 104, 104);
}

nav a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
    text-transform: uppercase;
}

.button-nav{
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: blueviolet;
    padding: 5px;
    border-radius: 40px;
}

.text{
    border-radius: 60px;
    background-color: rgb(65, 12, 114);
}

h1{
    font-size: 80px;
    color: white;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}
