body{
    background-color: #000000;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(114, 104, 104);
}

nav a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
    text-transform: uppercase;
}

.button-nav{
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: blueviolet;
    padding: 5px;
    border-radius: 40px;
}

h1{
    font-size: 80px;
    background-color: blueviolet;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tattoo-minimalism{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(65, 12, 114);
    border-radius: 60px;
    margin-top: 60px;
}

.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 50px;
    width: 150px;
    height: 300px;
 }

.item img{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    gap: 200px;
}

.tattoo-realist{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(65, 12, 114);
    border-radius: 60px;
    margin-top: 60px;
}

.item-real{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 0px 50px;
    width: 120px;
    height: 300px;
 }

.item-real img{
    border-radius: 70px;
}

/* .item-real-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    margin: 50px;
    width: 150px;
    height: 300px;
 }

.item-real-container img{
    width: 300px;
    height: 300px;
    border-radius: 70px;
} */

.tattoo-creativ{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px;
    padding: 8px;
    background-color: rgb(65, 12, 114);
    border-radius: 60px;
    margin-top: 60px;
}

.item-creativ{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 0px 90px;
    width: 120px;
    height: 300px;
 }

.item-creativ img{
    border-radius: 100px;

}

.tattoo-video{
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin: 50px;
    padding: 8px;
    background-color: rgb(65, 12, 114);
    border-radius: 60px;
}

.tattoo-video2{
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin: 50px;
    padding: 8px;
    background-color: rgb(65, 12, 114);
    border-radius: 60px;
}

footer{
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #000000;
    color: white;
    border-top: 1px solid #ccc;
}